
.container {
  width: 100vw;
  height: 100vh;
}

.loginCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 80%;
  min-height: 30%;
}

.input {
  min-width: 80%;
}
